body {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-minimalistic-cat-claws-seamless-background-design-backgroundpinkcat-clawseamless-backgroundbanner-image_57663.jpg);
  transparency: 0.5
}

h1 {
  color: #0b2666;
  font-weight: bold;
}

p {
  color: black;
  font-size: 125%;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h3 {
  font-size: 150%
}

img {
  border: 5px solid #0b2666;
  margin-left: 150 px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 80px;
}

h1 {
  margin-top: 75px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 80px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 80px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 80px;
}


img {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 80px;
}
